{% extends "analytics/_layouts/pages" %}

{% set selectedSubnavItem = "Dashboard" %}
{% set title = "Dashboard"|t %}


{% set content %}


     
 {% for account in accounts %}
     <p>{{ account.name }}</p>
   {% endfor %} 




{% endset %}